# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/

# Flask specific
instance/
.env

# Pytest
.pytest_cache/

# IDE specific
.idea/
.vscode/
*.swp

# Logs and temporary files
*.log
*.tmp

# Key file
key.key
